<% if flash.present? %>
  <div class="row">
    <% if flash[:notice] %>
      <div class="alert alert-info alert-dismissible fade show">
        <%= flash[:notice] %>
        <button aria-label="Close" class="btn-close" data-bs-dismiss="alert" type="button"></button>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= flash[:alert] %>
        <button aria-label="Close" class="btn-close" data-bs-dismiss="alert" type="button"></button>
      </div>
    <% end %>
  </div>
<% end %>
